html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

p {
  font-size: 0.8rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.line {
  border: 1px solid gray;
  margin-top: 0px;
}

/* Utilities */
.button {
  padding: 7px;
  padding-left: 8px;
  padding-right: 10px;
  border: 2px solid rgb(252, 252, 252);
  background-color: rgba(10, 10, 233, 0.75);
  color: #fff;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(10, 10, 233, 1);
}

.form-item {
  width: 50%;
}
